<div id="<%= dom_id question %>">
  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= question.explanation %>
  </p>

  <p>
    <strong>Question bank:</strong>
    <%= question.question_bank_id %>
  </p>

</div>
