<div id="<%= dom_id quiz %>">
  <p>
    <strong>Name:</strong>
    <%= quiz.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quiz.description %>
  </p>

  <p>
    <strong>Quiz type:</strong>
    <%= quiz.quiz_type %>
  </p>

  <p>
    <strong>Time limit:</strong>
    <%= quiz.time_limit %>
  </p>

  <p>
    <strong>Shuffle:</strong>
    <%= quiz.shuffle %>
  </p>

  <p>
    <strong>Question bank:</strong>
    <%= quiz.question_bank_id %>
  </p>

</div>
