<p style="color: green"><%= notice %></p>

<%= render @quiz_question %>

<div>
  <%= link_to "Edit this quiz question", edit_quiz_question_path(@quiz_question) %> |
  <%= link_to "Back to quiz questions", quiz_questions_path %>

  <%= button_to "Destroy this quiz question", @quiz_question, method: :delete %>
</div>
