<div id="<%= dom_id quiz_response %>">
  <p>
    <strong>Response:</strong>
    <%= quiz_response.response %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quiz_response.user_id %>
  </p>

  <p>
    <strong>Quiz question:</strong>
    <%= quiz_response.quiz_question_id %>
  </p>

  <p>
    <strong>Quiz:</strong>
    <%= quiz_response.quiz_id %>
  </p>

</div>
