<!DOCTYPE html>
<html>
  <head>
    <title>RorProjectStarter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <%= image_tag "quizem-logo.svg", height: 50 %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <li class="nav-item d-flex justify-content-end">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <%= link_to "Home", root_url, class: "nav-link text-light" %>
        </li>
            <li class="nav-item">
              <%= link_to "Your Quizzes", quizzes_url, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "Create Quiz +", new_quiz_url, class: "btn create-quiz-btn rounded-pill" %>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>

    <footer class="border-top text-center"><p class="">&copy; All rights reserved - WEB 3200 - 2023</p>
    </footer>
  </body>
</html>
